


<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
    <link href="~/Lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>
<html>

<body>

    @* Start Body *@
    <section>
        <center>
            <div class="mt-5 bg-warning text-white rounded-2">
                <h1>Welcome About Us Page</h1>
                <p>Lorem ipus...............</p>

            </div>
        </center>
    </section>
    @*  End Body *@

</body>
</html>
